{% extends 'base.html' %}

{# TODO: Replace EVENT NAME with the event's name #}
{% block title %}Event Details | {{event_name}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {# TODO: Replace EVENT NAME with the event's name #}
      <h2>{{event_name}}</h2>

      <p>
        {{description}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      {#
        TODO: Replace EVENT IMAGE URL with actual URL to one of the
        event images
      #}
      <img src="{{img_url}}">


      <p>
        {#
          TODO: Replace EVENT TICKETMASTER URL with URL to event's
          Ticketmaster page
        #}
        <a href="{{event_url}}" target="_blank">
          Go to Ticketmaster page
        </a>
      </p>
    </div>

    <div class="col">
      <h3>Start date</h3>

      <p>{{start_date}}</p>

      <h3>Venues</h3>
      <ul>
        {% for venue in venues_list:%}
        <li>{{venue}}</li>
        {% endfor %}
      </ul>

      <h3>Classifications</h3>
      <ul>
        {% for class in classifications_list:%}
        <li>{{class}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
